.content{
border: 2px;
padding: 50px;
  margin-top: 5px;
  margin-left: 80px;
  margin-bottom: 40px
}
.main{
  color: #046141;
  float: right;;
  width: 75%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.logo{
  color: #046141;
  border: 2px solid #046141;
  padding: 10px;
  float: left;
  font-family: forte;
  font-style: italic;
  font-family: Comic Sans MS;

}
.size{
  width: 200px;
}
.title{
  font-size: 50px;
  color: #05724C;
}
.subtopic{
font-weight: bolder;
}
.plist{
  float: right;
  width: 90%;
  text-align: left;
}
.clist{
  float: left;
}
